$primaryColor: #000;

.band {
  text-align: center;
  padding: 5rem;

  @media (max-width: 750px) {
    padding: 1rem;
  }

  @media (max-width: 500px) {
    padding: 2%;
  }
  &--title {
    color: rgba(#444, 0.5);
    font-weight: bold;
    font-size: 20rem;
    opacity: 0.5;
    line-height: 1;
    display: table;
    margin: auto;

    color: white;  /* Fallback: assume this color ON TOP of image */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/American_bison_k5680-1.jpg/1280px-American_bison_k5680-1.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    filter: brightness(2);

    p {
      line-height: 1;
      padding: 0;
    }

    @media (max-width: 900px) {
      font-size: 15rem;
    }

    @media (max-width: 750px) {
      font-size: 10rem;
    }

    @media (max-width: 500px) {
      font-size: 5rem;
      margin-top: 3rem;
    }
  }

  &--music {
    opacity: 0.5;
    margin: 10rem auto;
    width: 50%;

    @media (max-width: 500px) {
      opacity: 1;
    }
  }
}


body {
  background: linear-gradient(to bottom, #CAC3FF, #78CEE1);
  background: $primaryColor;
  width: 100%;
  min-height: 100vh;
  font-family: Helvetica;
  margin: 0; padding: 0;
  position:relative;
}
